table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}
.ant-space-item {
  font-size: 17px;
  &:hover {
    background: none !important;
  }
  .anticon {
    font-size: 18px;
  }
  .btnEdit {
    color: map-get($colors, brand-css);
  }
  .btnDelete {
    color: map-get($colors, brand-scss);
  }
}
.ant-input-group-wrapper {
  display: inline-block;
  width: 25%;
  text-align: start;
  float: right;
  vertical-align: middle;
  margin-bottom: 20px;
}
.ant-table-thead {
  .ant-table-cell {
    color: #111;
    text-transform: uppercase;
  }
}
// .ant-table table {
//   table-layout: auto !important;
// }
.ant-descriptions-title {
  text-transform: uppercase;
}
.ant-table-column-sorter-inner {
  visibility: hidden;
  opacity: 0;
}
th.ant-table-column-sort {
  background: #fafafa !important;
}
td.ant-table-column-sort {
  background: transparent;
}
.ant-table-cell-ellipsis {
  white-space: unset;
}
.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.13);
}
.ant-image-mask {
  background: unset;
  top: -40px;
  letter-spacing: 1px;
  font-weight: 900;
}
