.page-login {
  height: 81vh;
  .login-form {
    width: 30%;
    background: #474a59;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    color: #f1f1f2;
    height: 350px;
    flex-direction: column;
    display: flex;
    color: #fff;
    padding: 40px 25px 15px;
    .login-item {
      label {
        color: #fff;
      }
    }
  }
  .login-left {
    width: 25%;
    background-color: white;
    .login-title {
      font-size: 50px;
      font-weight: 900;
      margin: 40px 30px 40px;
    }
    .login-desc {
      color: #999;
      font-size: 14px;
      line-height: 1.5;
      margin: 30px;
    }
  }
}
.ant-form-item-control-input-content {
  width: 150px;
}
.ant-form-item-required {
  width: 120px;
}
