.slick-list {
  width: 55%;
}
.slide-item {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.page-home {
  height: 81vh;
  .slick-dots-bottom {
    width: 25%;
    li {
      font-size: 28px;
    }
  }
  .site-layout-right {
    letter-spacing: 0.8px;
    width: 35%;
    position: absolute;
    right: 5%;
    text-transform: none;
    top: 20%;
    p {
      padding: 30px 0;
      font-size: 18px;
      letter-spacing: 0.5px;
    }
    i {
      padding-top: 50px;
    }
  }
}
